<%= map(:center => {
    :latlng => [52.50504797921441, 13.4080235665359283],
    :zoom => 12
  },

  markers: Store.all.map { |store| { latlng: [store.latitude, store.longitude], 
  # popup expects a string	
  popup: store.capitalize_name + ", " + store.capitalize_address } } 
  
) %>

<main class="container index-container">
	<h1>Spätis</h1>
	<% @stores.each do |store| %>
	    <h3 class="store-heading"><%= link_to store.capitalize_name, store_path(store) + ': ' + store.capitalize_address %></h3>
	<% end %>
</main>

