<%= map(:center => {
    :latlng => [52.50504797921441, 13.4080235665359283],
    :zoom => 12
  },

  markers: Store.all.map { |store| { latlng: [store.latitude, store.longitude], 
  # popup expects a string	
  popup: store.capitalize_name + ", " + store.capitalize_address } } 
  
) %>

<% @stores.each do |store| %>
    <h2><%= link_to store.capitalize_name, store_path(store) + ': ' + store.capitalize_address %></h2>
<% end %>


