<% @stores.each do |store| %>
    <h2><%= link_to store.name, store_path(store) + ': ' + store.address %></h2>
<% end %>

<%= link_to "Add Spaeti", new_store_path %>

<%= map(:center => {
    :latlng => [52.52004797921441, 13.4050235665359283],
    :zoom => 11
  },

  markers: Store.all.map { |store| { latlng: [store.latitude, store.longitude], popup: store.name } }
  
) %>

